* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--font-main);
	font-weight: var(--font-light);
	font-size: var(--font-sm);
	color: var(--color-main);
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	color: inherit;
}
