@import '@fontsource/fira-sans/300.css';
@import '@fontsource/montserrat/300.css';
@import '@fontsource/montserrat/500.css';
@import '@fontsource/fira-mono';

:root {
	--font-main: Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
	--font-alt: Montserrat, Helvetica, sans-serif;
	--font-mono: Fira Mono, monospace;

	--font-light: 300;
	--font-strong: 500;

	--font-sm: 1rem;
	--font-base: 1.15rem;
	--font-lg: 1.5rem;
	--font-xl: 2.8rem;

	@media (max-width: 25rem) {
		--font-xl: 2rem;
	}

	--color-main: #101318;
	--color-dim: #182439;
	--color-accent: #ff3b00;
	--color-light: #ffb199;

	--space-sm: .4rem;
	--space-base: 1rem;
	--space-lg: 1.8rem;
	--space-xl: 3.5rem;
	--space-2xl: 9rem;

	--border-light: 1px;
	--border-base: 1.5px;
	--border-thick: 3px;

	--border-radius: .3px;

	--letter-spacing: .075em;
}
